doctype html
html
   head
      title = "Contact page"
     link (rel='stylesheet', href='C:\Users\BootCamp\Desktop\express-checkpoint\myapp\public\stylesheets\style.css' ) 
   body
      nav 
      a#home(href="localhost:5501/home")
       h1 Welcome to home page 
      a#services(href="localhost:5501/services")
       h1 Welcome to Our Services page
      a#contact(href="localhost:5501/contact")    
       h1 Welcome to contact us page