html
   head
    
      title Home page #{title}
     
			
	
	
			
			
   body
      
         a(href = "/Home") Home

         a(href = "/services")         Our Services 

         a(href = "/contact")         Contact